body {
    background-color: #000000;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
}

body {
    color:white;
}


a {
  color: white;
}

a:link {
  color: white;
}


a:visited {
  color: green;
}


a:hover {
  color: Aquamarine;
}


a:active {
  color: ForestGreen;
}

body {
    overflow: auto;
resize: both;
}

body { 
    cursor: pointer;
}

body {
    text-shadow: 8px 5px 3px #404040, 5px 5px 10px #000000;
}

.bigtitle {
     /**    padding-left:15%;***/ 
        padding-top: 20%;

color: white; 
font-family: 'Trocchi', serif; 
font-size: 1500%; 
font-weight: normal; 
margin: 0;

/*line-height: 1.0em;*/
}
